[Unit]
Description=Globular node_agent
After=network-online.target globular-event.service globular-cluster-controller.service
Wants=network-online.target globular-event.service globular-cluster-controller.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory={{.StateDir}}/node_agent
Environment=GLOBULAR_SERVICES_DIR={{.StateDir}}/services

ExecStartPre=+/bin/sh -c 'mkdir -p {{.StateDir}}/node_agent && chown root:root {{.StateDir}}/node_agent'
ExecStartPre=/bin/sh -c 'for i in $(seq 1 60); do [ -f /var/lib/globular/pki/issued/services/service.crt ] && exit 0; sleep 1; done; echo "TLS cert not ready"; exit 1'
ExecStart={{.Prefix}}/bin/node_agent_server
Restart=on-failure
RestartSec=2
LimitNOFILE=524288

[Install]
WantedBy=multi-user.target
